extends ../layout/public/auth.layout.pug

block content
  div
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 404 Error Page
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active 404 Error Page
      // /.container-fluid
    // Main content
    section.content
      .error-page
        h2.headline.text-warning  404
        .error-content
          h3
            i.fas.fa-exclamation-triangle.text-warning
            |  Oops! #{message}.
          p
            | We could not find the page you were looking for.
            | Meanwhile, you may 
            a(href='../../index.html') return to dashboard
            |  or try using the search form.
          form.search-form
            .input-group
              input.form-control(type='text' name='search' placeholder='Search')
              .input-group-append
                button.btn.btn-warning(type='submit' name='submit')
                  i.fas.fa-search
            // /.input-group
        // /.error-content
      // /.error-page
    // /.content
